{% raw %}
<div class="b-form">
	<ul class="b-form__fields">
		<li class="b-form__field">
			<label for="date" class="b-form__field-label">Дата лекции</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" id="date" name="date" class="b-form__field-input" />
		</li>
		<li class="b-form__field b-form__field_size_half">
			<label for="start" class="b-form__field-label">Начало</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" id="start" name="start" class="b-form__field-input" />
		</li>
		<li class="b-form__field b-form__field_size_half">
			<label for="end" class="b-form__field-label">Окончание</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" id="end" name="end" class="b-form__field-input" />
		</li>
		<li class="b-form__field b-form__field_size_full">
			<label for="title" class="b-form__field-label">Название</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" id="title" name="title" class="b-form__field-input" />
		</li>
		<li class="b-form__field b-form__field_size_full">
			<label for="person" class="b-form__field-label">Докладчик</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" id="person" name="person" class="b-form__field-input" />
		</li>
		<li class="b-form__field b-form__field_size_full">
			<label for="points" class="b-form__field-label">Тезисы</label>
			<div class="b-form__field-error-message"></div>
			<textarea id="points" name="points" class="b-form__field-input b-form__field-input_type_area" ></textarea>
		</li>
		<li class="b-form__field b-form__field_size_full">
			<label for="presentation" class="b-form__field-label">Ссылка на презентацию</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" id="presentation" name="presentation" class="b-form__field-input" />
		</li>
		<li class="b-form__field b-form__field_size_full">
			<label for="video" class="b-form__field-label">Ссылка на видео</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" id="video" name="video" class="b-form__field-input" />
		</li>
	</ul>
</div>
{% endraw %}