<div class="b-form">
	<ul class="b-form__fields">
		<li class="b-form__field">
			<label for="date">Дата лекции</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" name="date" class="b-form__field-input" />
		</li>
		<li class="b-form__field">
			<label for="start">Начало</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" name="start" class="b-form__field-input" />
		</li>
		<li class="b-form__field">
			<label for="end">Окончание</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" name="end" class="b-form__field-input" />
		</li>
		<li class="b-form__field">
			<label for="title">Название</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" name="title" class="b-form__field-input" />
		</li>
		<li class="b-form__field">
			<label for="person">Докладчик</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" name="person" class="b-form__field-input" />
		</li>
		<li class="b-form__field">
			<label for="points">Тезисы</label>
			<div class="b-form__field-error-message"></div>
			<textarea name="points" class="b-form__field-input"></textarea>
		</li>
		<li class="b-form__field">
			<label for="presentation">Ссылка на презентацию</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" name="presentation" class="b-form__field-input" />
		</li>
		<li class="b-form__field">
			<label for="video">Ссылка на видео</label>
			<div class="b-form__field-error-message"></div>
			<input type="text" name="video" class="b-form__field-input" />
		</li>
	</ul>
</div>