/*PAGE*/
.b-content_browse {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	
	color: #404040;
	font-size: 14px;
}

/* HEADER */
.b-content_browse  .b-content__header {
	width: 99%;
	height: 60px;

	padding: 10px 0.5%;
	border: solid #aaa;
	border-width: 0px 0px 1px 0px;
	white-space: nowrap;
	

	background: url('/curriculum/img/light_alu.png') 0 0 repeat;
	
	-webkit-text-shadow: -1px -1px 0px #eee;
	-moz-text-shadow: -1px -1px 0px #eee;
	-ms-text-shadow: -1px -1px 0px #eee;
	-o-text-shadow: -1px -1px 0px #eee;
	text-shadow: -1px -1px 0px #eee;
}

/* TITLE */
.b-content_browse .b-content__title {
	height: 30px;
	line-height: 100%;
	margin: 0px;
	vertical-align: middle;
	
}

/* FOOTER */
.b-content_browse .b-content__footer {
	background: url('/curriculum/img/light_alu.png') 0 0 repeat;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 25px;

	padding-top: 10px;

	text-align: center;
	border: solid #aaa;
	border-width: 1px 0px 0px 0px;
	
	-webkit-text-shadow: -1px -1px 0px #eee;
	-moz-text-shadow: -1px -1px 0px #eee;
	-ms-text-shadow: -1px -1px 0px #eee;
	-o-text-shadow: -1px -1px 0px #eee;
	text-shadow: -1px -1px 0px #eee;
}
{% include css/index/menu/menu.css %}
{% include css/index/form/form.css %}
{% include css/index/dialog/dialog.css  %}
{% include css/index/content/content.css %}